.event {
  background: rgba(57, 143, 255, 0.93);
  min-width: 40px;
  box-shadow: 1px 0 1px #1f1f1f;
  padding: 6px;
  margin-right: 2px;
  transition: background-color .2s ease-out;
  cursor: pointer;
  z-index: 1;
  overflow: auto;
  &:hover {
    background: dodgerblue;
  }
  &:last-child {
    margin-right: 0;
  }
  &__title {
    color: white;
    font-size: 12px;
  }
  &__text {
    margin-top: 6px;
    color: white;
    font-size: 12px;
  }
  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #ececec;
    border-radius: 2px;
  }
}
