.day {
  min-width: 220px;
  border-right: 1px solid lightgrey;
  width: calc((100% / 7) - 1px);
  &._current-day {
    background: #eee;
  }
  &__header {
    padding: 12px;
  }
  &__day-name {
    font-size: 16px;
    text-align: center;
    margin-bottom: 6px;
  }
  &__date {
    color: gray;
    font-size: 14px;
    text-align: center;
  }
  &__hour {
    padding: 5px;
    min-height: 40px;
    border-bottom: 1px solid grey;
    &:first-child {
      border-top: 1px solid grey;
    }
    &:last-child {
      border-bottom: none;
    }
  }
}
